# Dependencies
node_modules
.pnp
.pnp.js

# Environment variables
.env
.env.local
.env.development
.env.production

# Build outputs
.next
dist
build

# Docker
.docker

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Prisma
prisma/migrations
backend/generated/

# IDE
.vscode
.idea